<div class="container-fluid">
    <div class="row entity-title">
        <div class="col-md-12">
            <div class="card" style="padding: 20px">
                <div class="row">
                    <div class="col-md-2">
                        <md-select placeholder="Tier">
                            <md-option *ngFor="let tier of tiers" [value]="tier.value">
                                {{ tier.text }}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="Platform" value="">
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="Script Version" value="">
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="Favorite food" value="Sushi">
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="Favorite food" value="Sushi">
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <button md-raised-button color="primary">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
