@import '~@angular/material/theming';
@import 'src/dy-theme';

.panel-wrapper {
  border: 1px solid transparent;
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &.-no-padding {
    padding: 0;
  }

  .panel-heading {
    padding: 10px 0 10px 10px;
    color: #a9a9a9;
    text-transform: uppercase;

    &.-no-padding {
      padding: 0;
    }

    .wide-input {
      width: 400px;
    }
  }

  .panel-divider {
    height: 1px;
    background: #ececec;
    margin-bottom: 20px;
  }
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;

  .order-by-icon {
    font-size: 14px;
    line-height: 30px;
  }

  .mat-icon:not(.order-by-icon) {
    color: rgba(0, 0, 0, 0.50);
    font-size: 18px;
    margin-right: 10px;
  }

  .clickable {
    cursor: pointer;
  }

  [contenteditable="true"] {
    color: mat-color($dy-app-primary);
    padding:5px 10px 5px 10px;
  }
}

tr {

  &:hover {
    //cursor: pointer;
  }

  &:nth-of-type(even) {
    //background: #eee;
  }
}

th {
  text-transform: uppercase;
  color: #a9a9a9;
  cursor: pointer
}

td, th {
  padding: 6px;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
Max width before this PARTICULAR control-table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force control-table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide control-table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a control-table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
