<div class="panel-wrapper" [ngClass]="{'-no-padding': !padding}">
    <!-- Search Input Field - Available only if there is a service -->
    <div class="panel-heading" *ngIf="filterFunction || searchFunction" [ngClass]="{'-no-padding': !padding}">
        <form>
            <md-input-container>
                <input class="wide-input" mdInput autocomplete="off" autofocus
                       placeholder="Search for {{tableData.title}}" type="text" [value]="" [formControl]="searchPhrase"
                       (keyup)="onSearchType($event)">
            </md-input-container>
        </form>
    </div>
    <div class="panel-divider">
        <md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>
    </div>
    <!-- Table with results -->
    <table *ngIf="tableData.rows.length">
        <thead>
        <tr>
            <th *ngFor="let column of tableData.columns; let i=index" (click)="orderBy(column.key)">
                {{column.name}}
                <md-icon class="order-by-icon" *ngIf="tableData.orderBy===column.key">
                    {{this.tableData.order===order.ASCENDING?
                    'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}
                </md-icon>
                <md-icon class="order-by-icon" *ngIf="tableData.orderBy!==column.key"></md-icon>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of tableData.rows">
            <td *ngFor="let column of tableData.columns">
                <div *ngIf="!column.allowInlineEditing">
                    <span *ngIf="!column.pipe">{{getRow(row, column.key)}}</span>
                    <span *ngIf="column.pipe==='toCustomerVertical'">{{row[column.key] | toCustomerVertical }}</span>
                    <span *ngIf="column.pipe==='toAccountType'">{{row[column.key] | toCustomerVertical }}</span>
                    <span *ngIf="column.pipe==='date'" mdTooltip="{{row[column.key] | date:'medium'}}"
                          [mdTooltipPosition]="'above'">{{row[column.key] | date }}</span>
                    <span *ngIf="column.pipe==='truncate'">{{row[column.key] | truncate }}</span>
                </div>
                <inline-editor *ngIf="column.allowInlineEditing" type="text" [(ngModel)]="row[column.key]"
                               (onSave)="column.onSave(row, column.key, $event)" name="row[column.key]"
                               size="8"></inline-editor>
            </td>
            <td>
        <span *ngFor="let action of rowActions">
          <md-icon class="clickable" *ngIf="action.routerLink" routerLink="{{row.id}}"
                   mdTooltip="{{action.name}}">
            {{action.icon}}
          </md-icon>
          <md-icon class="clickable" *ngIf="action.onClick" (click)="action.onClick(row)"
                   mdTooltip="{{action.name}}">
            {{action.icon}}
          </md-icon>
        </span>

                <!--<button md-button *ngFor="let action of rowActions" routerLink="{{row.id}}">-->
                <!--<md-icon>{{action.icon}}</md-icon>{{action.name}}-->
                <!--</button>-->
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Empty Table/Results -->
    <div *ngIf="!tableData.rows.length">No Results</div>
</div>


