<!--<md-toolbar>-->
  <!--<div class="user-details">-->
    <!--DYAdmin-->
  <!--</div>-->
  <!--<span class="fill-remaining-space"></span>-->

  <!--&lt;!&ndash; More Options Button &ndash;&gt;-->
  <!--<button md-icon-button [mdMenuTriggerFor]="menu">-->
    <!--<md-icon>more_vert</md-icon>-->
  <!--</button>-->
  <!--<md-menu #menu="mdMenu">-->
    <!--<button md-menu-item (click)="goToProfile()">-->
      <!--<md-icon>account_circle</md-icon>-->
      <!--<span>Current User</span>-->
    <!--</button>-->
    <!--<button md-menu-item (click)="logout()">-->
      <!--<md-icon>exit_to_app</md-icon>-->
      <!--<span>Log Out</span>-->
    <!--</button>-->
  <!--</md-menu>-->

<!--</md-toolbar>-->

