//@import '~@angular/material/core/theming/theming';
//@import 'src/dy-theme';
//
//.mat-toolbar{
//  background: white;
//}
//
//.user-details {
//  background: mat-color($dy-app-primary);
//  height: 100%;
//  width: 250px;
//  margin-left: -16px;
//  line-height: 60px;
//  text-align: center;
//  color: white;
//}
//
//.fill-remaining-space {
//  flex: 1 1 auto;
//}
