<div class="container-fluid">
    <div class="row entity-title">
        <div class="col-md-12">
            <div class="card" style="padding: 20px">
                <div class="status"
                     [ngClass]="{'-active': section?.active===true, '-inactive': section?.active===false}"
                     title="{{section?.active}}">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>{{section?.name}}</h5>
                        <div>
                            Section ID: {{section?.id}}
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button md-raised-button (click)="editSection()">
                            <md-icon>edit</md-icon>
                            Edit
                        </button>
                        <button md-icon-button [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item (click)="goToProfile()">
                                <md-icon>face</md-icon>
                                <span>Profile</span>
                            </button>
                            <button md-menu-item (click)="redeploy()">
                                <md-icon>autorenew</md-icon>
                                <span>Redeploy</span>
                            </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">Section Details</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Platform</span>
                            <span class="col-md-8">{{section?.platform}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Publisher</span>
                            <span class="col-md-8"><a routerLink="/publishers/{{section?.publisher.id}}">{{section?.publisher.name}}</a></span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">URL</span>
                            <span class="col-md-8">{{section?.url}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">General Configuration</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Script Version</span>
              <span class="col-md-8">
                  <div *ngIf="!isCurrentUserAdmin()">{{section?.staticApiVer}}</div>
              <div *ngIf="isCurrentUserAdmin()">  <inline-editor type="text" [ngModel]="section?.staticApiVer"
                                                                 (onSave)="updateSection({staticApiVer:$event})"
                                                                 name="editableText1"
                                                                 size="20"></inline-editor>
                             </div>
              </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Action Inject</span>
                            <span class="col-md-8">{{section?.isUsingDyCollectionInject}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Archive Days</span>
                            <span class="col-md-8">{{section?.daysToAutoArchive}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Last Activtiy</span>
                            <span class="col-md-8">{{section?.lastSectionActivity}}</span>
                        </div>
                    </div>
                    <!--<div class="col-md-4">-->
                    <!--<div class="row details">-->
                    <!--<div class="col-md-12">-->
                    <!--<h2 class="section-title">What the hell are these?!</h2>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Raw Data</span>-->
                    <!--<span class="col-md-8">{{section?.rawData}}</span>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Learn</span>-->
                    <!--<span class="col-md-8">{{section?.learn}}</span>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Predict</span>-->
                    <!--<span class="col-md-8">{{section?.predict}}</span>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Extended Audiences</span>-->
                    <!--<span class="col-md-8">{{section?.extendedAudience}}</span>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Rcom Personalization</span>-->
                    <!--<span class="col-md-8">{{section?.rcomPersonalization}}</span>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Ext. Data Source</span>-->
                    <!--<span class="col-md-8">{{section?.externalDataSource}}</span>-->
                    <!--</div>-->
                    <!--<div class="row details">-->
                    <!--<span class="col-md-4 field-name">Seg Def</span>-->
                    <!--<span class="col-md-8">{{section?.segmentDefinition}}</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-4">
                        <!--<div class="row details">-->
                        <!--<div class="col-md-12">-->
                        <!--<h2 class="section-title">Mobile Configuration</h2>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Backend Scheme</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.backendScheme}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Refresh Interval</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.refreshSettingsIntervalInSeconds}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Send Msgs Interval</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.sendMsgsInterval}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Use Location</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.useLocation}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Max Msg To Flush</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.maxMsgToFlush}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Max Queue Size</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.maxQueueSize}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Msg Delay Tolerance</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.messageDelayTolerance}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Rest Host</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.restHost}}</span>-->
                        <!--</div>-->
                        <!--<div class="row details">-->
                        <!--<span class="col-md-4 field-name">Log Level</span>-->
                        <!--<span class="col-md-8">{{section?.sectionSettings?.logLevel}}</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Features</h5>
                    <control-table [tableData]="featuresTableData"
                                   [rowActions]="featuresTableRowActions"
                                   [filterFunction]="filterFeatures"
                                   [padding]="false"></control-table>
                </div>
            </div>
        </div>
    </div>
</div>
