<nav class="top-nav">
  <div class="logo">
    <md-icon svgIcon="logo"></md-icon>
    DYAdmin</div>
  <div class="top-nav-functions"></div>
  <div>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="goToProfile()">
        <md-icon>face</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Log Out</span>
      </button>
    </md-menu>
  </div>
</nav>
<sidebar></sidebar>
