<div class="side-nav">
    <div class="side-nav-options">
        <md-list>
            <md-list-item *ngFor="let option of adminMenuOptions; let i = index" (click)="setActive(i)"
                          class="{{option.entity}}"
                          [ngClass]="{'-active': currentStateEntity===option.entity}"
                          routerLink="{{option.routerLink}}">
                <md-icon md-list-avatar>{{option.icon}}</md-icon>
                <div class="menu-title">{{option.title}}</div>
            </md-list-item>
        </md-list>
    </div>
    <div class="main-content">
        <md-progress-bar class="state-loader" mode="indeterminate" *ngIf="getLoadingStatus()"></md-progress-bar>
        <router-outlet></router-outlet>
    </div>
</div>
