@import '~@angular/material/theming';
@import 'src/dy-theme';

.side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .side-nav-options {
    width: 250px;
    background-color: mat-color($dy-app-primary);
    background: -webkit-linear-gradient(305deg, #2B2F3A, #43475A);
    background: linear-gradient(145deg, #2B2F3A, #43475A);
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .mat-list-item {
      color: #9A9AA2;
      cursor: pointer;
      -webkit-transition: background 100ms ease-in-out;
      -moz-transition: background 100ms ease-in-out;
      -ms-transition: background 100ms ease-in-out;
      -o-transition: background 100ms ease-in-out;
      transition: background 100ms ease-in-out;

      &:hover {
        background: #1E202C;

        .material-icons {
          color: white;
        }
      }

      .mat-list-avatar {
        text-align: center;
        height: 27px;
      }

      .menu-title {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
      }

      &.-active {
        color: mat-color($dy-app-primary);

        .menu-title {
          color: white;
        }

      }
    }
  }

  .main-content {
    flex-grow: 1;
    background: mat-color($dy-app-accent);
    padding: 10px;
    min-height: calc(100vh);
    max-height: 100%;

    .state-loader {
      margin: -10px -10px 10px -10px;
    }
  }
}
