<div class="container-fluid">
    <div class="row entity-title">
        <div class="col-md-12">
            <div class="card" style="padding: 20px">
                <div class="status"
                     [ngClass]="{'-active': user?.active===true, '-inactive': user?.active===false}"
                     title="{{user?.active}}">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>{{user?.firstName}} {{user?.lastName}}</h5>
                        <div>
                            User ID: {{user?.id}}
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button md-raised-button (click)="editSection()">
                            <md-icon>edit</md-icon>
                            Edit
                        </button>
                        <button md-icon-button [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item (click)="goToProfile()">
                                <md-icon>face</md-icon>
                                <span>Profile</span>
                            </button>
                            <button md-menu-item (click)="logout()">
                                <md-icon>exit_to_app</md-icon>
                                <span>Log Out</span>
                            </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">User Details</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Email Address</span>
                            <span class="col-md-8">{{user?.email}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Documentation Only</span>
                            <span class="col-md-8">{{user?.documentationOnly}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Locale</span>
                            <span class="col-md-8">{{user?.locale}}</span>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">Publisher Details</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">ID</span>
                            <span class="col-md-8">{{user?.publisher.id}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Name</span>
                            <span class="col-md-8"><a routerLink="/publishers/{{user?.publisher.id}}">{{user?.publisher.name}}</a> </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">Audit Trail</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Last Login</span>
                            <span class="col-md-8">{{user?.lastSignInAt | date:'medium'}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Created At</span>
                            <span class="col-md-8">{{user?.createdAt | date:'medium'}}</span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Updated At</span>
                            <span class="col-md-8">{{user?.updatedAt | date:'medium'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">User Section Permissions</h5>
                    <control-table [tableData]="userSectionPermsTableData"
                                   [rowActions]="userSectionPermsTableRowActions"
                                   [padding]="false"></control-table>
                </div>
            </div>
        </div>
    </div>
</div>
