<!--<md-icon svgIcon="robot"></md-icon>-->
<md-dialog-content>
    <h3 md-dialog-title	>{{title}}</h3>
    <p>{{message}}</p>

    <md-checkbox [(ngModel)]="invalidate" md-tooltip="Invalidates CDN data if exists" mdTooltipPosition="right">Run invalidations</md-checkbox>

</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button
            color="warn"
            (click)="dialogRef.close({redeploy: true, invalidate: invalidate})">Redeploy
    </button>
    <button md-button
            (click)="dialogRef.close({redeploy: false, invalidate: invalidate})">Cancel
    </button>
</md-dialog-actions>