<div class="container-fluid">
    <div class="row entity-title">
        <div class="col-md-12">
            <div class="card" style="padding: 20px">
                <div class="status"
                     [ngClass]="{'-active': publisher?.active==='Active', '-inactive': publisher?.active==='Inactive'}"
                     title="{{publisher?.active}}">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- User Mode -->
                        <h5 *ngIf="!isCurrentUserAdmin()">
                            {{publisher?.name}}
                        </h5>
                        <!-- Admin Mode -->
                        <h5 *ngIf="isCurrentUserAdmin()">
                            <inline-editor type="text" [ngModel]="publisher?.name"
                                           (onSave)="updatePublisher({name:$event})"
                                           name="editableText1" size="20"></inline-editor>
                        </h5>
                        <div>
                            Publisher ID: {{publisher?.id}}
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button md-raised-button color="primary" (click)="become()" [disabled]="!publisher?.active">
                            <md-icon>open_in_new</md-icon>
                            <span>Become</span>
                        </button>
                        <button md-icon-button [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>
                        </button>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item (click)="redeploy()" [disabled]="!publisher?.active">
                                <md-icon>autorenew</md-icon>
                                <span>Redeploy</span>
                            </button>
                            <button md-menu-item (click)="deactivatePublisher()"
                                    [disabled]="!publisher?.active">
                                <md-icon>power_settings_new</md-icon>
                                <span>Deactivate</span>
                            </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">Account Details</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Type</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">
                           {{publisher?.accountType}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.accountType"
                                          empty="Empty"
                                          (onSave)="updatePublisher({accountType:$event})"
                                          [options]="accountTypes"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Vertical</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">
                           {{publisher?.customerVertical}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.customerVertical"
                                          empty="Empty"
                                          (onSave)="updatePublisher({customerVertical:$event})"
                                          [options]="customerVerticals"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Currency</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">
                           {{publisher?.currencyCode}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.currencyCode"
                                          (onSave)="updatePublisher({currencyCode:$event})"
                                          [options]="currencies"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Revenue Share</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">
                           {{publisher?.revShare}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="number" [ngModel]="publisher?.revShare"
                                          (onSave)="updatePublisher({revShare:$event})"
                                          name="editableText1"
                                          size="20"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Whitelabel</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">
                           {{publisher?.whitelabel}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.whitelabel"
                                          empty="Empty"
                                          (onSave)="updatePublisher({whitelabel:$event})"
                                          [options]="whiteLabels"></inline-editor>
                        </div>
                     </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row details">
                            <div class="col-md-12">
                                <h2 class="section-title">Contact Details</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Address</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.address1}} </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="text" [ngModel]="publisher?.address1"
                                          (onSave)="updatePublisher({address1:$event})"
                                          name="editableText1"
                                          size="20"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4"></span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.address2}} </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="text" [ngModel]="publisher?.address2"
                                          (onSave)="updatePublisher({address2:$event})"
                                          name="editableText1"
                                          size="20"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Country</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">
                           {{publisher?.country}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.country"
                                          (onSave)="updatePublisher({country:$event})"
                                          [options]="countries"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">City</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.city}}</div>
                        <div *ngIf="isCurrentUserAdmin()"><inline-editor type="text" [ngModel]="publisher?.city"
                                                                         (onSave)="updatePublisher({city:$event})"
                                                                         name="editableText1"
                                                                         size="20"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Phone</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.phone}}</div>
                        <div *ngIf="isCurrentUserAdmin()"><inline-editor type="text"
                                                                         [ngModel]="publisher?.phone"
                                                                         (onSave)="updatePublisher({phone:$event})"
                                                                         name="editableText1"
                                                                         size="20"></inline-editor>
                        </div>
                     </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row details">
                            <div class="col-md-12">
                                <h2 class="section-title">Security Settings</h2>
                            </div>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Override 2FA</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.tfaOverride}}</div>
                        <div ngif="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.tfaOverride"
                                          empty="Empty"
                                          (onSave)="updatePublisher({tfaOverride:$event})"
                                          [options]="booleanOptions"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Until</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.tfaOverrideTillDate}}
                        </div>
                        <div *ngIf="isCurrentUserAdmin()">  <inline-editor type="text"
                                                                           [ngModel]="publisher?.tfaOverrideTillDate"
                                                                           (onSave)="updatePublisher({tfaOverrideTillDate:$event})"
                                                                           name="editableText1"
                                                                           size="20"></inline-editor>
                        </div>
                     </span>
                        </div>
                        <div class="row details">
                            <span class="col-md-4 field-name">Remember Device</span>
                     <span class="col-md-8">
                        <div *ngIf="!isCurrentUserAdmin()">{{publisher?.tfaRemember}}</div>
                        <div ngif="isCurrentUserAdmin()">
                           <inline-editor type="select" [ngModel]="publisher?.tfaRemember"
                                          empty="Empty"
                                          (onSave)="updatePublisher({tfaRemember:$event})"
                                          [options]="booleanOptions"></inline-editor>
                        </div>
                     </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Users</h5>
                    <control-table [tableData]="usersTableData" [rowActions]="usersTableRowActions"
                                   [padding]="false"></control-table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Sections</h5>
                    <control-table [tableData]="sectionTableData" [rowActions]="sectionTableRowActions"
                                   [padding]="false"></control-table>
                </div>
            </div>
        </div>
    </div>
</div>