@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dy-app-primary: mat-palette($mat-light-blue, 600, 500, 700);
$dy-app-accent: mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dy-app-theme: mat-light-theme($dy-app-primary, $dy-app-accent, $dy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dy-app-theme);

//Custom CSS Params for DYAdmin
$top-nav-height: 100px;

//Custom colors for entities
$dy-entity-publisher: mat-color(mat-palette($mat-purple, 600, 500, 400));
$dy-entity-section: mat-color(mat-palette($mat-green, 600, 500, 400));
$dy-active-accent: mat-color(mat-palette($mat-green, 600, 500, 400));
$dy-inactive-accent: mat-color(mat-palette($mat-red, 600, 500, 400));

