@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/theming';
@import '/assets/stylesheets/bootstrap/bootstrap';
@import 'src/dy-theme';

* {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: 300;
  margin: 0;
}

body {
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  text-transform: uppercase;
}

button {
  button:focus {
    outline: 0;
  }
}

/* Overrides for inline editor */

.btn-danger{
  background: mat-color($dy-app-warn);
  border: 1px solid mat-color($dy-app-warn);
  color: white;
  width: 28px;
  height: 28px;
}

.btn-primary{
  background: mat-color($dy-app-primary);
  border: 1px solid mat-color($dy-app-primary);
  color: white;
  width: 28px;
  height: 28px;
}

.inline-editor-button-group{
  margin-left: 5px;
}

#inlineEditWrapper{
  margin-left: -5px;
}

.form-control{
  padding: 0.25rem 0.50rem;
}

/* Navigation Bar */
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: $top-nav-height;

  .logo {
    width: 250px;
    background: mat-color($dy-app-primary);
    color: mat-color($dy-app-accent);
    height: $top-nav-height;
    text-align: center;

    md-icon {
      vertical-align: sub;
    }
  }

  .top-nav-functions {
    justify-content: center;
  }
}

.entity-title {
  margin-bottom: 10px;
  h5 {
    font-weight: bolder;
  }
}

.entity-publisher {
  color: $dy-entity-publisher;
}

.entity-section {
  color: $dy-entity-section;
}

.status {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  &.-active {
    background-color: $dy-active-accent;
  }

  &.-inactive {
    background-color: $dy-inactive-accent;
  }
}

.section-title {
  color: mat-color($dy-app-accent, 600);
  font-size: 13px;
  margin-top: 20px;
  font-weight: 300;
}

.details {
  //padding: 3px 0 3px 0;
  .field-name {
    font-weight: bolder;
    &:after {
      content: ':'
    }
  }
}

.card {
  height: 100%;
}

